<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>MedicalSystem - Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Admin</h1>
    <br>
    Patients:
    <br>
    <table border="1">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Current Doctor</th>
            <th>View Patient</th>
            <th>Edit Patient</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient: ${patients}">
            <td th:text="${patient.username}"> <b>10 </b></td>
            <td th:text="${patient.name}"> John </td>
            <td th:text="${patient.surname}"> Smith </td>
            <span th:if="${patient.currentDoctor}">
                <td th:text="${patient.getCurrentDoctor()}"> Smith </td>
            </span>
            <span th:unless="${patient.currentDoctor}">
                <td><a href="addcurrentdoctor?username=10" th:href="@{addcurrentdoctor(username=${patient.username})}"> Add a doctor </a></td>
            </span>
            <td><a href="patientviewadmin?username=10" th:href="@{patientviewadmin(username=${patient.username})}">View</a></td>
            <td><a href="patientedit?username=10" th:href="@{patientedit(username=${patient.username})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <a href="newpatient"> Add new patient </a>
    <br><br><br><br>
    Doctors:
    <br>
    <table border="1">
        <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>View Doctor</th>
            <th>Delete Doctor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor: ${doctors}">
            <td th:text="${doctor.username}"> <b>10 </b></td>
            <td th:text="${doctor.name}"> John </td>
            <td th:text="${doctor.surname}"> Smith </td>
            <td><a href="doctorviewadmin?username=10" th:href="@{doctorviewadmin(username=${doctor.username})}">View</a></td>
            <td><a href="deletedoctor?username=10" th:href="@{deletedoctor(username=${doctor.username})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
<a href="newdoctor"> Add new doctor </a>
<br><br>
<a href="logout"> Log Out </a>
</body>
</html>