<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MedicalSystem - Patient Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Edit patient:</h1>
<div class="alert alert-danger" th:style="'border-style: solid;border-color: red;color:red;'" role="alert" th:text="'You have to fill all the fields.'" th:if="${errorEmptyField}"></div>
<div class="alert alert-danger" th:style="'border-style: solid;border-color: red;color:red;'" role="alert" th:text="'Username already taken.'" th:if="${errorUsernameTaken}"></div>
<form action="modifypatient" method="post">
    <input type="hidden" name="patientId" value="10" th:value="${patientToEdit.id}"> <br>
    Username:<input type="text" name="newUsername" value="John" th:value="${patientToEdit.username}"><br>
    Name:<input type="text" name="newName" value="John" th:value="${patientToEdit.name}"><br>
    Surname:<input type="text" name="newSurname" value="Smith" th:value="${patientToEdit.surname}"><br>
    Address:<input type="text" name="newAddress" value="Smith" th:value="${patientToEdit.address}"><br>
    Phone number:<input type="text" name="newPhoneNumber" value="Smith" th:value="${patientToEdit.phoneNumber}"><br>
    <input type="submit" />
</form>
<br><br>
<a href="admin"> Back </a>
<br>
<a href="logout"> Log Out </a>

</body>
</html>